html {
	height:100%;
}

body {
	background-image:url("/pakitrafik/images/connectwork.png");
	font-family:"Tahoma";
	margin:0;
	min-height:100%;
	display:flex;
	flex-direction:column;
}

.menuItem {
	color:oldlace;
	padding:0.5rem;
	cursor:default;
}

.menuItem:hover {
	background-color:oldlace;
	color:black;
}

#mainContainer {
	display:flex;
	flex-grow:1;
}

#sidebar {
	border-width:0 1px 0 0;
	border-color:oldlace;
	border-style:solid;
	display:flex;
	flex-direction:column;
}

#contentWindow {
	flex-grow:1;
}